@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-log img {
    position: absolute;
    margin: 15px;
    height: 70px;
    width: 70px;
    transition: 0.5s ease;
}

.img-log img:hover{
    transform: scale(1.2);
}


.iscontainer {
    font-family: "Fredoka", system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../Imagenes/bgIS.png');
    background-blend-mode: darken;
    background-size: cover;
}

.iswrapper {
    padding: 0;
    box-sizing: border-box;
    width: 600px;
    height: 720px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: brightness(50%);
    color: white;
    border-radius: 5px;
    padding: 120px 40px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.iswrapper h1 {
    font-size: 36px;
    text-align: center;
}

.iswrapper .isinput-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.isinput-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.isinput-box input::placeholder {
    color: white;
}

.isinput-box .icono {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.isinput-box .icono {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.isinput-box .toggle-password {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.password-forgot {
    justify-content: right;
    text-align: right;
}

.password-forgot a {
    color: rgb(129, 127, 255);
    text-decoration: none;
    font-weight: 600px;
}

.password-forgot a:hover {
    color: rgb(151, 164, 238);
}

.iswrapper button {
    margin-top: 20px;
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rbga(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    transition: transform 0.5s ease;
}

.iswrapper button:hover {
    transform: scale(1.09);
}

.iswrapper .registro-usuario {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.registro-usuario a {
    color: rgb(129, 127, 255);
    text-decoration: none;
    font-weight: 600px;
}

.registro-usuario a:hover {
    color: rgb(151, 164, 238);
}

.iswrapper .registro-empresa {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.registro-empresa a {
    color: rgb(129, 127, 255);
    text-decoration: none;
    font-weight: 600px;
}

.registro-empresa a:hover {
    color: rgb(151, 164, 238);
}
