@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-log img {
    position: absolute;
    margin: 15px;
    height: 70px;
    width: 70px;
    transition: 0.5s ease;
}

.img-log img:hover{
    transform: scale(1.2);
}

.rucontainer{
  font-family: "Fredoka", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items:center;
  min-height: 100vh;
  background-image: url('../Imagenes/bgRU.png');
  background-size: cover;
  
}


.ruwrapper {
    display: flex;
    flex-direction: column;
    width: 1020px;
    height: 640px;
    background:white;
    border: 2px solid rgba(255,255,255,.2);
    color:black;
    border-radius: 5px;
    padding: 70px 40px;     
}

.ruwrapper h1{
    font-size: 36px;
    font-style: italic;
    text-align: left;
}

.ruwrapper .input-box{
    position:relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 53%;
    height: 50%;
    background: rgb(214, 205, 205);
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: black;
    padding: 20px 40px 20px 20px;

}

.input-box-date input {
    width: 53%;
    height: 50%;
    background: rgb(214, 205, 205);
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: black;
    padding: 12px 35px 12px 12px;

}

.input-box label{
    display: block;
    margin-bottom: 5px;
}

.input-box-date label{
    display: block;
    margin-bottom: 5px;
}

.input-columns {
    display: flex; 
    justify-content: space-between; 
}

.input-column-left, .input-column-right {
    flex: 1; 
    margin-right: 20px; 
}

.input-column-right {
    margin-right: 0; 
}

.password-forgot a{
    color: rgb(129, 127, 255);
    text-decoration: none;
    font-weight: 600px;
}

.ruwrapper .inicio-usuario {
    font-size: 14.5px;
    margin-top: 50px;
}

.inicio-usuario a {
    color: rgb(129, 127, 255);
    text-decoration: none;
    font-weight: 600px;
}

.inicio-usuario a:hover {
    color: rgb(151, 164, 238);
}


.ruwrapper button{
    width: 20%;
    height: 45px;
    background: #4dbce7;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rbga(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    transition: transform 0.5s ease;
}

.ruwrapper button:hover {
    transform: scale(1.09);
}
