<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"   
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/inicio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Workwise Navigator</title>
    <link rel="website icon" href="../imagenes/wknlogo2.png">
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/css-doodle/0.39.0/css-doodle.min.js"></script>
</head>

<body>
    <header class="top-bar">
        <nav class="navbar navbar-dark  fixed-top">
            <div class="container-fluid"> <!-- barra superior-->
                <a class="navbar-brand" href="/">
                    <img src="../Imagenes/wknname.png" alt="Logo" id="logo" class="logo">
                </a>
                <div class="barra_busqueda">
                    <form class="d-flex" role="search" id="formBusqueda">
                        <input class="form form-control me-2" type="search" id="termino" name="termino"
                            placeholder="Buscar ofertas..." aria-label="Search">
                        <button class="btn btn-outline-success" id="btn" type="submit">Buscar</button>
                    </form>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- de aqui para abajo barra de navegacion lateral-->
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar"
                    aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h4 class="letras offcanvas-title" id="offcanvasDarkNavbarLabel">WORKWISE</h4>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-header">
                        <h5 class="letras offcanvas-title" id="offcanvasDarkNavbarLabel">MENU</h5>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="letras nav-rp nav-link " aria-current="page"
                                    th:href="@{/login/personas}">INICIAR SESIÓN </a>
                            </li>
                            <li class="nav-item">
                                <a class="letras nav-rp nav-link" th:href="@{/Register/personas}">REGISTRARSE</a>
                            </li>
                            <li class="nav-item dropdown"> <!-- barra desplagable dentro de la barrra lateral-->
                                <a class="letras nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Ver Más
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="letras dropdown-item" th:href="@{/Estadisticas}">Estadisticas</a></li>
                                    <li><a class="letras dropdown-item" th:href="@{/login/Empresa}">Empresa</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="letras dropdown-item" th:href="@{/Nosotros}">¿Quienes Somos?</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="barra_busqueda_responsive" id="formBusqueda">
                            <form class="d-flex" role="search">
                                <input class="form form-control me-2" type="search" id="termino" name="termino"
                                    placeholder="Buscar ofertas..." aria-label="Search">
                                <button class="btn btn-outline-success" id="btn" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="d-flex mt-5">
        <!-- Botón desplegable para mostrar/ocultar el filtrador -->
        <div id="filtrador" class="d-flex flex-column">
            <button class="btn btn-outline-secondary mb-2 filter-button" onclick="toggleFilter()" aria-expanded="false">
                <i class="fas fa-filter"></i> <!-- Icono del filtro -->
            </button>

            <!-- Filtrador -->
            <div id="filterContainer" class="filter-container bg-light rounded p-3" style="display: none;">
                <h2 class="h5 mb-4">Filtrar por:</h2>

                <!-- Salario -->
                <div class="filter-item mb-3">
                    <div onclick="toggleCategory('salario')" class="filter-title">
                        <strong>Salario</strong>
                        <span id="arrowSalario">▼</span>
                    </div>
                    <div id="filterSalario" class="filter-options" style="display: none;">
                        <label for="salarioMin">Mínimo:</label>
                        <input type="number" id="salarioMin" class="form-control" placeholder="Salario mínimo" />
                        <label for="salarioMax">Máximo:</label>
                        <input type="number" id="salarioMax" class="form-control" placeholder="Salario máximo" />
                    </div>
                </div>

                <!-- Duración -->
                <div class="filter-item mb-3">
                    <div onclick="toggleCategory('duracion')" class="filter-title">
                        <strong>Duración</strong>
                        <span id="arrowDuracion">▼</span>
                    </div>
                    <div id="filterDuracion" class="filter-options" style="display: none;">
                        <input type="text" id="duracion" class="form-control" placeholder="Ej: 3 meses, 6 meses" />
                    </div>
                </div>

                <!-- Tipo de Empleo -->
                <div class="filter-item mb-3">
                    <div onclick="toggleCategory('tipoEmpleo')" class="filter-title">
                        <strong>Tipo de Empleo</strong>
                        <span id="arrowTipoEmpleo">▼</span>
                    </div>
                    <div id="filterTipoEmpleo" class="filter-options" style="display: none;">
                        <select id="tipoEmpleoSelect" class="form-select">
                            <option value="">Seleccionar...</option>
                            <option value="tiempo completo">Tiempo Completo</option>
                            <option value="medio tiempo">Medio Tiempo</option>
                            <option value="contrato"> Contrato</option>
                        </select>
                    </div>
                </div>

                <!-- Modalidad -->
                <div class="filter-item mb-3">
                    <div onclick="toggleCategory('modalidad')" class="filter-title">
                        <strong>Modalidad</strong>
                        <span id="arrowModalidad">▼</span>
                    </div>
                    <div id="filterModalidad" class="filter-options" style="display: none;">
                        <label>
                            <input type="checkbox" value="presencial"> Presencial
                        </label>
                        <label>
                            <input type="checkbox" value="remota"> Remoto
                        </label>
                        <label>
                            <input type="checkbox" value="híbrida"> Híbrido
                        </label>
                    </div>
                </div>

                <button class="btn btn-primary mt-3" onclick="applyFilters()">Aplicar Filtros</button>
            </div>

            <!-- Contenido Principal -->
            <div class="content-area flex-grow-1 p-3">

                <div id="resultadoBusqueda"></div>

                <div class="offer-container">
                    <div th:each="Oferta:${Ofertas}" class="card">
                        <div class="offer-content" data-id="${Oferta.id}">
                            <h3 th:text="${Oferta.titulo_puesto}"></h3>
                            <p th:text="${Oferta.descripcion}"></p>
                            <div class="hidden-info">
                                <p class="salario"><strong>Salario:</strong> <span th:text="${Oferta.salario}"></span>
                                </p>
                                <p class="duracion"><strong>Duración:</strong> <span
                                        th:text="${Oferta.duracion}"></span>
                                </p>
                                <p class="periodo"><strong>Periodo:</strong> <span th:text="${Oferta.periodo}"></span>
                                </p>
                                <p class="tipo_empleo"><strong>Tipo de empleo:</strong> <span
                                        th:text="${Oferta.tipo_empleo}"></span></p>
                                <p class="modalidad"><strong>Modalidad:</strong> <span
                                        th:text="${Oferta.modalidad}"></span>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Modal que se mostrará al hacer clic en una tarjeta -->
                <div id="modal" class="modal">
                    <div class="modal-content">
                        <span class="close-btn">&times;</span>
                        <h3 id="modal-title"></h3>
                        <p id="modal-description"></p>
                        <p id="modal-salary"></p>
                        <p id="modal-duration"></p>
                        <p id="modal-period"></p>
                        <p id="modal-modalidad"></p>
                        <p id="modal-type"></p>
                        <!-- Botón para postularse dentro del modal -->
                        <button class="apply-btn-modal" id="postularseBtn">Postularse</button>
                    </div>
                </div>

            </div>
    </main>



    <!-- <footer class="footer">
        <div class="container">
            <div class="sticky-lg-bottom">
                <div class="row">
                    <div class="col">
                        <div class="contacto">
                            <h5>Contacto</h5>
                            <p>info@Workwise.com</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="link">
                            <h5>Links</h5>
                            <ul>
                                <div class="Links">
                                    <li><a th:href="@{/}">Inicio</a></li>
                                    <li><a th:href="@{/Register/personas}">Registrate</a></li>
                                    <li><a th:href="@{/login/personas}">Iniciar sesion</a></li>
                                    <li><a th:href="@{/Nosotros}">Nosotros</a></li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="col">

                        <div class="redes-1">
                            <h5>Redes</h5>
                            <div class="redes">
                                <div class="facebook">
                                    <a class="facebook" href="https://www.facebook.com/profile.php?id=61558650706843"
                                        target="_blank">
                                        <img class="facebook"
                                            src="https://faldin.com/wp-content/uploads/2018/01/logo-facebook.png"
                                            alt="facebook">
                                    </a>
                                </div>
                                <div class="instagram">
                                    <a class="instagram" href="https://www.instagram.com/work_wise.0.1/"
                                        target="_blank">
                                        <img class="instagram" src="../Imagenes/instagram.png" alt="instagram">
                                    </a>
                                </div>
                                <div class="twitter">
                                    <a class="twitter" href="https://www.tiktok.com/@work_wise?lang=es" target="_blank">
                                        <img class="twitter"
                                            src="https://seeklogo.com/images/T/tiktok-logo-B9AC5FE794-seeklogo.com.png"
                                            alt="twitter">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->



    <!-- Script de JavaScript -->
    <script>

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/Inicio.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>