<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workwise Navigator</title>
    <link rel="website icon" href="../Imagenes/wknLogo2.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="../Css/general/bootstrap.min.css">
    <link rel="stylesheet" href="../Css/general/Grid-and-List-view-V10-style.css">
    <link rel="stylesheet" href="../Css/general/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="../Css/general/Nunito.css">
    <link rel="stylesheet" href="../Css/general/styles.min.css">
    <link rel="stylesheet" href="../Css/inicioPer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

</head>
<body id="page-top">
    <div id="wrapper" style="margin: 500;">
        <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark"
            style="background: #0a1128;">
            <div class="container-fluid d-flex flex-column p-0"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
                    th:href="@{/personas/pagina_principal}"><img src="../Imagenes/working wise 32x32 white.png"
                        width="61" height="58" style="width: 50px;height: 50px;">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span>Workwise</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" th:href="@{/login_inicio}"><i
                                class="fas fa-home"></i><span>Home</span></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/perfil/persona}"><i
                                class="far fa-user-circle"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/Estadisticas}"><i
                                class="fas fa-chart-bar"></i><span>Statistics</span></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/Nosotros}"><i
                                class="fas fa-users"></i><span>About Us</span></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/Registrar/Empresa}"><i
                                class="fas fa-building"></i><span>Do you have a company? </span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light"
                    style="background: var(--bs-body-bg);">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search"
                            id="formBusqueda">
                            <div class="input-group"
                                style="text-align: center;margin: 500px;border-color: var(--bs-emphasis-color);">
                                <input id="termino" name="termino" class=" bg-light form-control border-0 small"
                                    type="text" placeholder="Search for ...">
                                <button class="btn btn-primary py-0" type="submit" style="background: #0a1128;">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        aria-expanded="false" data-bs-toggle="dropdown" href="#"></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a
                                            class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle"><i
                                                        class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-success icon-circle"><i
                                                        class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-warning icon-circle"><i
                                                        class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your
                                                    account.</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All
                                            Alerts</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        aria-expanded="false" data-bs-toggle="dropdown" href="#"></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a
                                            class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                    src="/assets/img/avatars/avatar4.jpeg?h=fefb30b61c8459a66bd338b7d790c3d5">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Hi there! I am wondering if you can
                                                        help me with a problem I've been having.</span></div>
                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                    src="/assets/img/avatars/avatar2.jpeg?h=5d142be9441885f0935b84cf739d4112">
                                                <div class="status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>I have the photos that you ordered last
                                                        month!</span></div>
                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                    src="/assets/img/avatars/avatar3.jpeg?h=c5166867f10a4e454b5b2ae8d63268b3">
                                                <div class="bg-warning status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Last month's report looks great, I am
                                                        very happy with the progress so far, keep up the good
                                                        work!</span></div>
                                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                    src="/assets/img/avatars/avatar5.jpeg?h=35dc45edbcda6b3fc752dab2b0f082ea">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Am I a good boy? The reason I ask is
                                                        because someone told me that people say this to all dogs, even
                                                        if they aren't good...</span></div>
                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All
                                            Alerts</a>
                                    </div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end"
                                    aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        aria-expanded="false" data-bs-toggle="dropdown" href="#"><span
                                            class="d-none d-lg-inline me-2 text-gray-600 small">Usuario</span></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a
                                            class="dropdown-item"th:href="@{/perfil/persona}"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a
                                            class="dropdown-item"  th:href="@{/configuracion/persona}"><i
                                                class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a><a
                                            class="dropdown-item" href="#"><i
                                                class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity
                                            log</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" th:href="@{/}"><i
                                                class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="content-area flex-grow-1 p-3">

                <div id="resultadoBusqueda"></div>

                <div class="offer-container">
                    <div th:each="Oferta:${Ofertas}" class="card">
                        <div class="offer-content" data-id="${Oferta.id}">
                            <h3 th:text="${Oferta.titulo_puesto}"></h3>
                            <p th:text="${Oferta.descripcion}"></p>
                            <div class="hidden-info">
                                <p class="salario"><strong>Salario:</strong> <span th:text="${Oferta.salario}"></span>
                                </p>
                                <p class="duracion"><strong>Duración:</strong> <span
                                        th:text="${Oferta.duracion}"></span>
                                </p>
                                <p class="periodo"><strong>Periodo:</strong> <span th:text="${Oferta.periodo}"></span>
                                </p>
                                <p class="tipo_empleo"><strong>Tipo de empleo:</strong> <span
                                        th:text="${Oferta.tipo_empleo}"></span>
                                </p>
                                <p class="modalidad"><strong>Modalidad:</strong> <span
                                        th:text="${Oferta.modalidad}"></span>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Modal que se mostrará al hacer clic en una tarjeta -->
                <div id="modal" class="modal">
                    <div class="modal-content">
                        <span class="close-btn">&times;</span>
                        <h3 id="modal-title"></h3>
                        <p id="modal-description"></p>
                        <p id="modal-salary"></p>
                        <p id="modal-duration"></p>
                        <p id="modal-period"></p>
                        <p id="modal-modalidad"></p>
                        <p id="modal-type"></p>
                        <!-- Botón para postularse dentro del modal -->
                        <button class="apply-btn-modal" id="postularseBtn">Postularse</button>
                    </div>

                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2024</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/General/Grid-and-List-view-V10-script.js"></script>
    <script src="../js/General/script.min.js"></script>
    <script src="../js/General/theme.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/Inicio_persona.js"></script>

</body>

</html>